albumentations==1.4.15
comet_ml==3.46.0
coremltools==7.2
Flask==2.2.3
ipython==8.12.3
matplotlib==3.5.2
mss==9.0.2
numpy==1.24.4
onnx==1.16.1
onnxruntime==1.14.1
onnxsim==0.4.36
opencv_python==4.10.0.84
openvino==2024.4.0
paddle==1.0.2
pafy==0.5.5
pandas==1.1.5
Pillow==9.5.0
Pillow==10.4.0
psutil==6.0.0
Requests==2.32.3
scipy==1.14.1
seaborn==0.11.2
setuptools==69.5.1
tensorflow==2.15.1
tensorflow_intel==2.15.1
tensorflowjs==4.21.0
tensorrt==8.6.1
tflite_runtime==2.14.0
tflite_support==0.4.3
torch==2.5.0.dev20240629+cu124
torchvision==0.20.0.dev20240629+cu124
tqdm==4.64.0
train==0.0.5
tritonclient==2.49.0
ultralytics_thop==2.0.0
x2paddle==1.5.0
